html{
    background-image: url(/SDFPP/TICMUS25488_FTO2025_B_Tichaona-Clapperton-Musasa-SDF_Portfolio_Piece/images/background.png);
}
img{
    width: 300px;
    height: 300px;
    margin-top: 63px;
    margin-left: 59px;
    border-radius: 30px;
}
/* .lunguages{
    width: 5px;
    height: 5px;
} */