:root{
    --main-font: Poppins;
    --background-color:#FFFFFF;
    --main-font-color: #000000;
    --border-color: #4A8B70;
    --secondary-background-color:#E7F0EC;
}
body{
    display: grid;
    margin: 0;
    padding: 0;
    place-items: center;   
}

html{
   
    margin: 0;
}
/* mobile view */
@media (max-width:667px){
    .container{
        background-image: url(/SDFPP/TICMUS25488_FTO2025_B_Tichaona-Clapperton-Musasa-SDF_Portfolio_Piece/images/background.png);
        display: block;
        border: 3px solid rgb(69, 69, 85);
        width: 402px;
        min-width: 400px;

        
    }
    .profile{
        display: flex;

    }
    img{
        width: 147px;
        height: 137px;
        margin-top: 18px;
        border-radius: 12px;
        margin-left: 43px;
    }
    .content{
        height: 120px;
        background-color:var(--background-color);
        border-radius: 12px;
        margin-top: 18px;
        margin-left:15px;
        width: 153px;
        overflow: hidden;
        word-break: normal;
        padding-bottom:19px;
    }
    h1{
        font-family: var(--main-font);
        font-size: 16px;
        line-height: 104%;
        font-weight: 600;
        vertical-align: middle;
        margin-top: 19px;
        margin-left: 12px;
    }
    h2{
        font-family: var(--main-font);
        color: var(--main-font-color);
        font-size: 14px;
        line-height: 150%;
        vertical-align: middle;
        letter-spacing: 0;
        font-weight: 500;
        padding-left: 27px;
        padding-top: 12px;
        margin: 0;
    }
    .begner{
        font-family: var(--main-font);
        font-size: 10px;
        color: var(--main-font-color);
        line-height: 150%;
        font-weight: 500;
        margin-left: 12px;
    }
    .prof-group{
        display:flex;
        width: 294px;
        height: 74px;
    }
    .lung-stats{
        width: 59px;
        height: 70px;
        margin-left: 12px;
    }
    .lung-stats p{
        font-family: var(--main-font);
        font-size: 10px;
        line-height: 104%;
        font-weight: 500;
        vertical-align: middle;
    }
    .levelLenguage{
        display: grid;
        width: 155px;
        height: 74px;
        gap: 10px;
        margin-left: 20px;
    }
    .js-stats{
        background-color: var(--border-color);
        width: 131px;
        height: 11px;
        border-radius: 3px;
        margin-top: 10px;
    }
    .react-stats{
        background-color: var(--border-color);
        width: 81px;
        height: 11px;
        border-radius: 3px;
    }
    .node-stats{
        background-color: var(--border-color);
        width: 90px;
        height: 11px;
        border-radius: 3px;
    }
    .css-stats{
        background-color: var(--border-color);
        width: 183px;
        height: 11px;
        border-radius: 3px;
    }
    .my-infor{
        color: #5C5C5C;
        font-family: var(--main-font);
        font-weight: 400;
        font-size: 10px;
        line-height: 151%;
        letter-spacing: 0%;
        vertical-align: middle;
        padding-left: 7px;
        padding-right: 10px;
        padding-top: 0;
        margin-left:12px;
    }
    .hidden{
        display: none;
    }
    .proficience{
        background-color: var(--background-color);
        width: 318px;
        height: 177px;
        margin-top: 15px;
        margin-left: 42px;
        margin-left: 42px;
        border-radius: 12px;
        gap: 16px;
    }
    .skills{
        background-color: var(--background-color);
        width: 318px;
        height: 177px;
        margin-top: 15px;
        margin-left: 42px;
        border-radius:12px;
        gap: 16px;
    }
    .group-skills{
        margin-left: 12px;
    }
    .group-skills p{
        display: inline-block; 
        font-size: 10px;
        font-family: var(--main-font);
        color: var(--main-font-color);
        vertical-align: middle;
        margin: 3px;
        background-color: #4A8B7021;
        border-radius: 40px;
        padding-top: 4px;
        padding-bottom: 2px;
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 5px;
        margin-left: px; 
    }  

    /* The beginning of projects */
    .my-projects{
   
        background-color: var(--background-color);
        width: 319px;
        height: 632px;
        border-radius: 12px;
        margin-left: 41px;
        margin-top: 15px;
    }
    .first-heart{
        color: #D76239;
        width: 27px;
        height: 22px;
        padding-left: 90px;
        font-size: larger;
    }
    .heart{
        display: none;
        color: #DB8566;
        width: 27px;
        height: 22px;
        padding-left: 120px;
        font-size: larger;
    }

    .project-recent{
        background-color: #4A8B70;
        border-radius: 12px;
        width: 140px;
        height: 267px;
    }
    .year-white{
        font-family: var(--main-font);
        font-size: 12px;
        line-height: 150%;
        font-weight: 500;
        color: var(--background-color);
        margin-left: 9px;
    }
    .year-port{
        font-family: var(--main-font);
        font-size: 12px;
        line-height: 150%;
        font-weight: 500;
        color: var(--background-color);
        margin-left: 19px;
    }
    .project-recent p{
        font-family: var(--main-font);
        color: #EBF9F2;
        font-size: 9px;
        font-weight: 400;
        line-height: 150%;
        margin-left: 19px;
        margin-right: 18px;
    }
    
        /* Giving two columns in prject container that are equal  */
    
        .group-projects{
            display: grid;
            grid-template-columns: repeat(2,139px);
            justify-content: center;
            border-radius: 12px;
            gap: 12px;
            align-items: center;
            margin-bottom: 30px;
            padding: 9px;
        }
        .project{
            width: 139px;
            height: 267px;
            border-radius: 12px;
            background-color: var(--secondary-background-color);
            margin-bottom: 22px;
            gap: 9px;
        }
        .project p{
            font-family: var(--main-font);
            color: var(--main-font-color);
            font-size: 9px;
            padding-left: 19px;
            line-height: 150%;
            padding-right: 18px;
            word-wrap: normal;
            font-weight: 400;
            
        }
                /* Education box */
    
        .my-education{
            background-color: var(--background-color);
            width: 319px;
            height: 416px;
            margin-left: 41px;
            border-radius: 12px;
            padding: px;
            margin-top: 15px;
            margin-bottom: px;
        }
        .codespace{
            display: grid;
            grid-template-rows: 16px 132px;
            background-color: var(--border-color);
            border-radius: 12px;
            width: 295px;
            height: 172px;
            margin-left: 12px;
            margin-right: 8px;
        }
        .codespce-desktop{
            display: none;
        }
        .mst-rcnt-date{
            font-family: var(--main-font);
            font-size: 8px;
            font-weight: 500;
            color: var(--background-color);
            justify-content: space-between;
            margin-top: 12px;
            margin-left: 12px;
        }
        .key-areas{
            display: grid;
            grid-template-columns: 124px 147px;
            margin-left: 8px;
        }
        .school-name-rcnt{
            font-family: var(--main-font);
            color:#FFFFFF;
            font-size: 10px;
            line-height: 150%;
            font-weight: 500;
            vertical-align: middle;
            letter-spacing: 0;
        }
        .software{
            width: 124px;
            height: 37px;
        }
        .recnt{  
            font-family: var(--main-font);
            color:#FFFFFF;
            font-size: 8px;
            line-height: 150%;
            font-weight: 400;
            width: 147px;
            height: 132px;
            margin-right: 11px;
            padding-left: 9px;
            margin-top: 12px;
        }
        .advert{
            background-color: #D76239;
            margin-left: 120px;
            border-radius: 29px;
            padding: 4px 9px;
    
        }
             /* Chisco high box */
        .uct{
            display: flex;
            width: 295;
            height: 127px;
            background-color: var(--secondary-background-color);
            border-radius: 12px;
            margin-top: 10px;
        }
        
        .school-date{
            font-family: var(--main-font);
            font-weight: 500;
            font-size: 8px;
            vertical-align: middle;
            margin-bottom: 0;
            margin-left: 12px;
        }
        .school-name{
            font-family: var(--main-font);
            font-size: 10px;
            line-height: 150%;
            font-weight: 500;
            vertical-align: middle;
            letter-spacing: 0;
            margin-left: 12px;
            margin-bottom: 0;
        }
        .school-duration{
            font-family: var(--main-font);
            font-size: 8px;
            margin-left: 8px;
            margin-top: 0;
            margin-bottom: 0;
        }
        .key-areas {
            font-family: var(--main-font);
            font-weight: 400;
            font-size: 8px;
            vertical-align: middle;
            line-height: 150;
            margin: 0;
        }
        .cdespce{
            font-family: var(--main-font);
            font-size: 8px;
            font-weight: 400;
            line-height: 150%;
            padding-left: 20px;
        }
        .hudson-park{
            display: flex;
            background-color: var(--secondary-background-color);
            border-radius: 12px;
            width: 280;
            height: 93px;
            margin-top: 10px;
            
        }
                    /* Tools section */  
        
        .tools{
            display: flex;
            background-color: var(--background-color);
            width: 319px;
            height: 163px;
            border-radius: 12px;
            margin-top: 41px;
            margin-left: 38px;
        } 
        /* .tools-heading{
            font-family: var(--main-font);
            font-size: 12px;
            line-height: 150%;
            font-weight: 500;
            margin-top: 13px;
            margin-bottom: 10px;
            margin-left: px;
        } */
        .lunguages{
            width: 76px;
            height: 104px;
            background-color: var(--secondary-background-color);
            border-radius: 6px;
            margin-left: 20px;
            margin-top: 41px;
        }
        .lunguages img{
            height: 17px;
            width: 17px;
            margin: 0;
            padding-left: px;
            padding-bottom: px;
        }
        .design{
            margin-top: 41px;
            margin-left: 124px;
            background-color: var(--secondary-background-color);
            border-radius: 6px;
            margin-left: 29px;
            margin-right: 29px;
            margin-bottom: 29px;
            width: 76px;
            height: 104px;
        }
        .design img{
            height: 17px;
            width: 17px;
            margin: 0;
        }
        .second-tools{
            margin-top: 41px;
            background-color: var(--secondary-background-color);
            border-radius: 14px;
            margin-right: 29px;
            margin-left: 29px;
            margin-bottom: 29px;
            height: 107px;
            width: 76px;
        }
        .second-tools img{
            height: 17px;
            width: 17px;
            margin: 0;
        }
        div .tools span{
            border-radius: 19px;
            font-family: var(--main-font);
            font-size: 5px;
            font-weight: 500;
            background-color: #000000;
            color: antiquewhite;
            padding: 2px 6px;
            margin-top: 0;
            line-height: 142%;
         }
    
                  /* Experience box */
    
         .group-4{
            display:flex;
            flex-direction: column;
            background-color: var(--background-color);
            width: 319px;
            height: 487px;
            border-radius: 12px;
            margin-left: 41px;
            margin-top: 15px;
        }
        .experience-recnt{
            display: inline-flex;
            width: 295px;
            height: 141px;
            background-color: var(--border-color);
            border-radius: 10px;
            margin-left: 12px;
            margin-right: 12px;
            margin-top: 15px;
        }
        .date{
            display: inline;
            color: var(--background-color);
            font-family: var(--main-font);
            font-size: 8px;
            font-weight: 500;
            line-height: 150%;
            vertical-align: middle;
        }
        .bkstore{
            font-family: var(--main-font);
            color: var(--background-color);
            line-height: 150%;
            font-size: 10px;
            vertical-align: middle;
            font-weight: 500;
            margin-bottom: 0;
            margin-top: 0;
        }
        .reader{
            font-family: var(--main-font);
            color: var(--background-color);
            font-weight: 400;
            font-size: 8px;
            line-height: 150%;
            margin-bottom: 0; 
            margin-top: 0;
        }
        .rols-list li{
            font-size: 8px;
            margin-top: 8px;
            margin-bottom: 0px;
            color: #E7F0EC;
        }
        .most{
            text-align: end;
            margin-right: 12px;
            font-family: var(--main-font);
            font-size: 8px;
        }
        #most{
            background-color: #D76239;
            border-radius: 59px;
            padding-top: 2px;
            padding-bottom: 2px;
            padding-left: 4px;
            padding-right: 4px;
        }
        .job{
            margin-left: 12px;
            padding-left: 0;
        }
        .experience{
            background-color: var(--secondary-background-color);
          display: inline-flex;
          border-radius: 10px;
          height: 122px;
          width: 295px;
          padding-left: 0px;
          margin-top: 15px;
          margin-left: 12px;
        }
        .school-date{
            font-family: var(--main-font);
            font-weight: 500;
            font-size: 8px;
            vertical-align: middle;
            margin-bottom: 0;
        }
        #roles{
            color:var(--main-font-color);
            font-family: var(--main-font);
            font-size: 8px;
            font-weight: 400;
            line-height: 150%;
            padding-left: 12px;
    
        }
    
             /* Footer section */
    
        .footer{
            background-color: #D76239;
            width: 325px;
            height: 89px;
            border-radius: 12px;
            margin-top: 20px;
            margin-left: 42px;
            padding: 0px;
            margin-bottom: 30px;
        }
        .fter{
            font-family: var(--main-font);
            color: var(--background-color);
            font-weight: 500;
            font-size: 14px;
            line-height: 150%;
            vertical-align: middle;
            padding-top:10px;
            padding-left: 12px;
        }
        .links{
            font-family: #DDDDDD;
            font-size: 10px;
            line-height: 150%;
            font-weight: 400;
            padding-left: 12px;
            padding-bottom: 10px;
        }
        a{
            color: #DDDDDD;
            text-decoration: none;
        } 

}



      /* That's the end of mobile view we starting the desktop view lets jump into it */
       /* Desktop view */

@media (min-width:667px){
    .container{
        display: flex;
        flex-direction: column;
        background-image: url(/SDFPP/TICMUS25488_FTO2025_B_Tichaona-Clapperton-Musasa-SDF_Portfolio_Piece/images/background.png);
        
        border: 1px solid blue; 
    }
    img{
        width: 300px;
        height: 300px;
        margin-top: 63px;
        border-radius: 30px;
        margin-left: 59px;
    }
    .content{
    height: 300px;
    background-color:var(--background-color);
    border-radius: 29px;
    margin-top: 63px;
    margin-left:59px;
    width: 1104px;
 }
 .profile{
    
    display: flex;
    width: 1321px;
     
}
h1{
    font-family: var(--main-font);
    font-size: 36px;
    margin-left: 69px;
    line-height: 104%;
}
.my-infor{
    color: #5C5C5C;
    font-family: var(--main-font);
    font-weight: 400;
    font-size: 22px;
    line-height: 151%;
    letter-spacing: 0%;
    vertical-align: middle;
    padding-left: 99px;
    padding-right: 130px;
    padding-top: 10px;
    
}
h2{
    font-family: var(--main-font);
    color: var(--main-font-color);
    font-size: 33px;
    line-height: 150%;
    vertical-align: middle;
    letter-spacing: 0;
    font-weight: 500;
    padding-left: 27px;
    padding-top: 50px;
    margin: 0;
}
     /* proficiency group */
.proficience{
    background-color: var(--background-color);
    width: 564px;
    height: 428px;
    margin-top: 48px;
    margin-left: 63px;
    border-radius: 30px;
    
}    
.begner{
    font-family: var(--main-font);
    color: var(--main-font-color);
    font-size: 24px;
    line-height: 150%;
    vertical-align: middle;
    margin-left: 27px;
}
.prof-group{
    display: grid;
    grid-template-columns: 1fr 2fr;
    width: 509px;
    height: 180px;
    margin-left: 27px;
}
.lung-stats{
    width:141px;
    height:169px;

     
}
.lung-stats p{
    font-family: var(--main-font);
    font-size: 24px;
    font-weight:500;
    line-height: 104%;
    
   
   margin-top: 0;
}
.levelLenguage{
    display: grid;
    width: 321px;
    height: 179px;
    gap: 24px;
    margin-left: 20px;
}

.js-stats{
    background-color: var(--border-color);
    width: 317px;
    height: 26px;
    border-radius: 8px;
}
.react-stats{
    background-color: var(--border-color);
    width: 232px;
    height: 26px;
    border-radius: 8px;
}
.node-stats{
    background-color: var(--border-color);
    width: 113px;
    height: 26px;
    border-radius: 8px;
}
.css-stats{
    background-color: var(--border-color);
    width: 183px;
    height: 26px;
    border-radius: 8px;
}
.group-2{
    display: flex
}
    /* the beginning of skill section */

.skills{
    background-color: var(--background-color);
    width: 706px;
    height: 429px;
    margin-top: 48px;
    margin-left: 63px;
    border-radius: 29px;
    margin-right: 63px;
}
.skills h2{
    margin-bottom: 12px;
    margin-top: 0;
}
.group-skills{
    width: 672px;
    height: 279px;
    line-height: 150%;
    padding-left: 30px;
    
}
.group-skills p{
    display: inline-block; 
    font-size: 24px;
    font-family: var(--main-font);
    color: var(--main-font-color);
    vertical-align: middle;
    margin-bottom: 9px;
    margin-top: 9x;
    background-color: #4A8B7021;
    border-radius: 98px;
    padding-left:24px;
    padding-right: 24px;
    padding-top: 9px;
    padding-bottom: 9px;
    margin-left: 9px; 
}  

     /* The beggining of projects */

.my-projects{
   
    background-color: var(--background-color);
    width: 1318px;
    height: 755px;
    border-radius: 29px;
    margin-left: 63px;
    margin-top: 48px;
}
.group-projects{
    display: grid;
    grid-template-columns: repeat(4,272px);
    justify-content: center;
    border-radius: 29px;
    gap: 49px;
    align-items: center;
    margin-bottom: 30px;
    margin-top: 57px;
}
.project-recent{
    background-color: #4A8B70;
    border-radius: 29px;
    height: 581px;
}
.year-white{
    font-family: var(--main-font);
    font-size: 24px;
    line-height: 150%;
    font-weight: 500;
    color: var(--background-color);
    margin-left: 19px;
}
.year-port{
    font-family: var(--main-font);
    font-size: 24px;
    line-height: 150%;
    font-weight: 500;
    color: var(--background-color);
    margin-left: 19px;
}
.project-recent p{
    font-family: var(--main-font);
    color: #EBF9F2;
    font-size: 19px;
    font-weight: 400;
    line-height: 150%;
    margin-left: 19px;
    margin-right: 18px;
}
.project{
    width: 272px;
    height: 581px;
    border-radius: 29px;
    background-color: var(--secondary-background-color);
    margin-bottom: 22px;
}

.first-heart{
    color: #D76239;
    width: 27px;
    height: 22px;
    padding-left: 120px;
    font-size: larger;
}
.heart{
    color: #DB8566;
    width: 27px;
    height: 22px;
    padding-left: 120px;
    font-size: larger;
}
.title{
    text-align: center;
    padding-top: 20px;
}
.project .year{
    font-family: var(--main-font);
    color: var(--main-font-color);
    font-size:24px;
    vertical-align: middle;
    line-height: 150%;
    padding-left: 19px;
    padding-top: 21px;
    margin-bottom: 0;
    margin-top: 0;
}
.project p{
    font-family: var(--main-font);
    color: var(--main-font-color);
    font-size: 19px;
    padding-left: 19px;
    line-height: 150%;
    padding-right: 18px;
    word-wrap: normal;
    
}

        /* The beginning of education section */

.education-group{
    display: flex;
}

.my-education{
    background-color: var(--background-color);
    width: 950px;
    height: 850px;
    margin-left: 63px;
    border-radius: 29px;
    padding: 29px;
    margin-top: 48px;
    margin-bottom: 48px;
}
.my-education .edu{
    font-family: var(--main-font);
    font-size: 33px;
    line-height: 150%;
    vertical-align: middle;
    letter-spacing: 0;
    margin-top: 0px;
    margin-left: 23px;
    padding-top: 0;
    padding-left: 0;
    margin-bottom: 0;
}
.codespace{
    display:none;
}
.codespce-desktop{
    display:flex;
    background-color: var(--border-color);
    border-radius: 29px;
    width: 900px;
    height: 220px;
    margin-top: 0;
    padding-top: 27px;
    padding-bottom: 27px;
    padding-left: 21px;
    padding-right: 21px;
    margin-bottom: 20px;
}
.about{
    margin: 0;
}
ul{
    font-family: var(--main-font);
    color: var(--main-font-color);
    font-size: 19px;
    line-height: 150%;
    font-weight: 400;
}
.recnt{
    font-family: var(--main-font);
    color:#FFFFFF;
    font-size: 19px;
    line-height: 150%;
    font-weight: 400;
    width: 574px;
}
.school-name-rcnt{
    font-family: var(--main-font);
    color:#FFFFFF;
    font-size: 24px;
    line-height: 150%;
    font-weight: 500;
    vertical-align: middle;
    letter-spacing: 0;
    margin: 0;
}
.school-date{
    font-family: var(--main-font);
    font-weight: 500;
    font-size: 19px;
    vertical-align: middle;
    margin-bottom: 0;
}
#school-date{
    font-family: var(--main-font);
    color:#FFFFFF;
    font-weight: 500;
    font-size: 19px;
    vertical-align: middle;   
}
#school-duration-subj{
    font-family: var(--main-font);
    color:#FFFFFF;
    font-weight: 400;
    font-size: 19px;
    vertical-align: middle; 
    margin: 0;
}
.cdespce{
    color: var(--main-font-color);
    font-family: var(--main-font);
    font-weight: 400;
    line-height: 150%;
    vertical-align: middle;
}
.mst-rcnt-date{
    margin-top: 12px;
    font-family: var(--main-font);
    color:#FFFFFF;
    font-weight: 400;
    font-size: 19px;
    vertical-align: middle;
}

.school-duration{
    font-family: var(--main-font);
    font-weight: 400;
    font-size: 19px;
    vertical-align: middle;
    margin: 0;
}
.school-name{
    font-family: var(--main-font);
    font-size: 24px;
    line-height: 150%;
    font-weight: 500;
    vertical-align: middle;
    letter-spacing: 0;
    margin: 0;
}
.uct{
    display: flex;
    height: 220px;
    background-color: var(--secondary-background-color);
    border-radius: 29px;
    margin-bottom: 20px;
    padding-top: 27px;
    padding-bottom: 27px;
    padding-left: 21px;
    padding-right: 21px;
}
.hudson-park{
    display: flex;
    background-color: var(--secondary-background-color);
    border-radius: 29px;
    height: 192px;
    margin-bottom: 23px;
    padding-left: 21px;
    padding-top: 27px;
    padding-right: 21px;
}
        /* Tools section */
.tools{
    background-color: var(--background-color);
    width: 300px;
    height: 847;
    border-radius: 29px;
    margin-top: 48px;
    margin-left: 21px;
    margin-bottom: 48px;
}
.tools-heading{
    font-family: var(--main-font);
    font-size: 33px;
    line-height: 150%;
    font-weight: 500;
    margin-top: 31px;
    margin-bottom: 31px;
}
#tools{
    font-size: 33px;
    text-align: center;
    margin-top: 0;
    margin-left: 0;
    padding-top: 31px;
    
}
.tools p{

    padding-top: 0;
    margin-top: 20px;
    text-align: center;
}
 div .tools span{
    border-radius: 19px;
    font-family: var(--main-font);
    font-size: 14px;
    font-weight: 500;
    background-color: #000000;
    color: antiquewhite;
    padding: 5px 15px;
    margin-top: 0;
 }
.lunguages{
    background-color: var(--secondary-background-color);
    border-radius: 14px;
    margin-bottom: 29px;
    margin-left: 29px;
    margin-right: 29px;
}
.lunguages img{
    height: 41px;
    width: 41px;
    margin: 0;
    padding-left: 41px;
    padding-bottom: 41px;
}
.design img{
    height: 41px;
    width: 41px;
    margin: 0;
    padding-left: 29px;
    margin-right: 29px;
    padding-bottom: 31px;
}
.design{
    background-color: var(--secondary-background-color);
    border-radius: 14px;
    margin-left: 29px;
    margin-right: 29px;
    margin-bottom: 29px;
}
.second-tools img{
    height: 41px;
    width: 41px;
    margin: 0;
    padding-left: 41px;
    padding-bottom: 41px;
}
.second-tools{
    background-color: var(--secondary-background-color);
    border-radius: 14px;
    margin-right: 29px;
    margin-left: 29px;
    margin-bottom: 29px;
    height: 200px;
}

.most-recnt{
    background-color: #D76239;
    margin-left: 30px;
    border-radius: 29px;
    padding: 4px 9px;
}

.group-4{
    display:flex;
    flex-direction: column;
    background-color: var(--background-color);
    width: 1280px;
    height: 640px;
    border-radius: 29px;
    margin-left: 63px;
    padding-top: 0px;
    padding-right: 27px;
    padding-left: 27px;
    gap: 30px;
}
.experience{
    background-color: var(--secondary-background-color);
  display: inline-flex;
  border-radius: 29px;
  height: 145px;
  width: 1230px;
  padding-left: 25px;
}
.advert{
    display: none;
}
.experience-recnt{
    display: inline-flex;
    width: 1230px;
    background-color: var(--border-color);
    border-radius: 29px;
    padding-left:25px ;
}
.date{
    color: var(--background-color);
    font-family: var(--main-font);
    font-size: 19px;
    font-weight: 500;
    line-height: 150%;
    vertical-align: middle;
}
.bkstore{
    font-family: var(--main-font);
    color: var(--background-color);
    line-height: 150%;
    font-size: 24px;
    vertical-align: middle;
    font-weight: 500;
}
.reader{
    font-family: var(--main-font);
    color: var(--background-color);
    font-weight: 400;
    font-size: 19px;
    line-height: 150%; 
}
.rols-list li{
    margin-top: 20px;
    margin-bottom: 20px;
    color: #E7F0EC;
}

.footer{
    background-color: #D76239;
    width: 1300px;
    height: 158px;
    border-radius: 29px;
    margin-top: 48px;
    margin-left: 59px;
    padding: 29px;
    margin-bottom: 30px;
}
.fter{
    font-family: var(--main-font);
    color: var(--background-color);
    font-weight: 500;
    font-size: 33px;
    line-height: 150%;
    vertical-align: middle;
    margin-top: 0;
}
.links{
    font-family: #DDDDDD;
    font-size: 24px;
    line-height: 150%;
    font-weight: 400;
}
a{
    color: #DDDDDD;
    text-decoration: none;
}
a:hover{
    color: #000000;
    font-size: 30px;
}

}


